<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/Error.css')}}">
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <title>Not Found</title>
    </head>
</html>
<body>
  <div class="header">
    <a class="logo">Кванториум-Новоуральск<img src="/static/icons/Logo.png" style="height: 20px; width: 20px;"></a>
    <div class="header-right">
      <a href="/">Главная</a>
      <a href="/products">Новости</a>
      <a href="game">Игра об Кванториуме</a>
      <a href="@">Направления и программы</a>
      <a href="@">Мероприятия</a>
      <a href="@">Курсы</a>
      <a href="/login">Войти на сайт</a>
    </div>
  </div>

  <p class="zoom-area"><b>Eroor</b> Страница ненайдина </p>
  <section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
  </section>
</body>