<!DOCTYPE html> 
<html lang="ru">
  <head>
    {% include 'url.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Error.css')}}">
    <title>Not Found</title>
  </head>
</html>
<body>
{% include 'header.html' %}

<p class="zoom-area"><b>Eroor</b> Страница ненайдена </p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>

</body>