<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/About/main_About.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/QRcode-About.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile Card.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <link rel="stylesheet" href="/static/css/Buy-and-cors.css Card.css">
        <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Cosmo_ico.png')}}">
        <title>Cosmos-About</title>
    </head>
</html>
<body>
  <div class="header">
    <a class="logo">Космонавтики<img src="/static/icons/rocket.png" style="height: 20px; width: 20px;"></a>
    <div class="header-right">
      <a href="/">Главная</a>
      <a href="/products">Все новости о космосе</a>
      <a href="/video">Видео о космосе</a>
      <a href="/tickets">Купить билеты</a>
      <a href="/login">Войти</a>
    </div>
  </div>

    <br>
    <header class="header2"  style="margin-top: -17px;">
      <h1 class="headh1">Обо мне</h1>
    </header>

    <div class="card" style="margin-top: 40px;">
        <div>
            <img class="img2" src="{{ url_for('static', filename='Profile-Card/I-am-programist.jpg') }}" />
        </div>
        <div class="infos">
            <div class="name">
                <h2>Михаил Яковлев моя фотокарточка</h2>
                <h4>@MichaelBoss</h4>
                <br>
                <span>
                  <img style="border-style: dotted; border-color: aqua; border-radius: 10px; background-color: aliceblue; box-shadow: 5px 5px 20px 2px;" src="{{ url_for('static', filename='images/code/QrCode.gif') }}" />
                </span>
            </div>
            <p class="text">Меня зовут Михаил Яковлев и я создател этого сайта</p>
            <div class="links">
                <button class="follow">Мой вк</button>
                <button class="view">Ютуб канал</button>
            </div>
        </div>
     </div>



  </nav>

    <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">

          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">

          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">

          </div>
        </div>
      </div>

    <footer class="footer-distributed">
      
      <div class="footer-right">
        <a href="https://www.youtube.com/channel/UCgMNXe8ooAQdunLHOkztAew"><i class="fa fa-youtube"></i></a>
        <a href="https://t.me/+44uvzl2TzSo5NGEy"><i class="fa fa-telegram"></i></a>
        <a href="https://vk.com/id597169928"><i class="fa fa-vk"></i></a>
        <a href="https://github.com/MishaelBoss"><i class="fa fa-github"></i></a>
      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a class="link-1" href="/">Главная</a>

          <a href="https://www.youtube.com/channel/UCgMNXe8ooAQdunLHOkztAew">Мой блок</a>

          <a href="/About">Обо мне</a>
        </p>

        <p>Mikhaelovsk &copy; 2023</p>
      </div>

    </footer>
</body>