<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main-product.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <title>Admin-panel</title>
    </head>
</html>
<body>
<div class="header">
  <a class="logo">Кванториум-Новоуральск<img src="/static/icons/Logo.png" style="height: 20px; width: 20px;"></a>
  <div class="header-right">
    <a class="active" href="/Admin">Главная</a>
    <a href="/products">Новости</a>
    <a href="/Create-product">Создать новость</a>
    <a href="/game">Игра о Кванториуме</a>
    <a href="/direction_and_programs">Направления и программы</a>
    <a href="/event">Мероприятия</a>
    <a href="/create_event">Создать мероприятия</a>
    <a href="/courses">Курсы</a>
    <a href="/login">Войти на сайт</a>
    <div class="ProfilePanel">
      {% if not user %}
        <a href="profile"><img src="/static/icons/user-default.png" alt="Изображение по умолчанию"><h1>Профиль</h1></a>
      {% else %}
        <a href="profile"><img src="{{user.pathUser}}" alt="logo"><h1>{{user.name}}</h1></a>
      {% endif %}
    </div>
    <div class="ProfilePanel">
        <a href="/bell"><img src="/static/icons/bell.png">Сообщение</a>
    </div>
  </div>
</div>

<br>
<header class="header2"  style="margin-top: -20px;">
  <h1 class="headh1 h1" style="font-size: 5rem;">
    Добро пожаловать: 
  </h1>
  <h1 class="headh1 h1" style="font-size: 2rem;">
    Админ панель
  </h1>
</header>

<footer class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
    <a class="link-1" href="/">Главная</a>
    <a href="/game">Игра об Кванториум</a>
    <a href="/About">О нас</a>
    <a href="/sponsor">Спонсоры</a>
    <a href="/create_feedback">Обратная связь</a>
    </p>
  <div class="footer-center">
  <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Обл: Свердловская</span>Город: Новоуральск</p>
  </div>
  <div>
    <i class="fa fa-phone"></i>
    <p>+7.902.456.76.99</p>
  </div>
  <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:Qvant323@yandex.ru">Qvant323@yandex.ru</a></p>
  </div>
  </div>
    <p style="margin-left: 820px;">Mikhaelovsk &copy; 2023</p>
  </div>
</footer>
</body>