<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <title>Mathematics</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<header class="header2"  style="margin-top: -17px; min-height: 150px;">
  <h1 class="headh1 h1" style="font-size: 5rem;">О шахматах</h1>
</header>

<br><br>
<div class="test">
  <p style="text-align: center; color: #808080; margin-top: 20px; font-size:70px;">О шахматах</p>
</div>

<br><br>
<div class="News-card" style="width: 70%; height: 620px; padding: 0 0 0 0;">
  <br><br>
  <hr class="hr-washed">
  <div class="BlockCard">
    <br><br>
    <div class="cards">
      <div class="card" style="width: 1200px; height: 1200px;">
        <h2 class="card-title">Андреев Евгений Игоревич</h2>
        <img src="/static/images/Andreev Evgeniy Igorevich.jpg">
          <p class="card-desc">Образование – высшее:
            Уральский государственный университет им. А.М. Горького, направление «Философия» (2003 г.);
            Профессиональная переподготовка «Дополнительное образование детей и взрослых», ООО «Московский институт профессиональной переподготовки и повышения квалификации педагогов» (2022 г.); 
            Кандидат в мастера спорта по шахматам (2008 г.)
            Рейтинг ЭЛО 2000 баллов;
            Организатор турниров среди городов ЗАТО, администратор команд на платформах Chess.com и Lichess.org
            повышение квалификации по дополнительным профессиональным программам «Технологии работы с одаренными детьми»,  ГАНОУ СО «Дворец молодежи» (2022 г.); «Формирование гибких компетенций у обучающихся: вводный уровень», ФГБОУ ДО ФЦДО (2022 г.)
          </p>
      </div>
    </div>

    <div class="first_page">
      <div class="wrapper"style="height: 400px; bottom: -50px; position: relative;">
        <div class="content-splitter">
          <div class="left">
            <div class="block">
              <div class="headerbox">О шахматах</div>
              <div class="content">
                Шахматы – древняя индийская игра, имеющая многовековую историю, одна из наиболее распространённых игр современности. Еще с древних времен шахматы считались по настоящему королевской игрой, а в настоящее время игра в шахматы доступна для всех.
            Обучение по направлению Квантошахматы проводится в несколько этапов – ознакомление с правилами, изучение наиболее интересных партий, решение шахматных задач. Шахматы являются уникальным инструментом развития творческого потенциала и интеллекта обучающихся; это творчество, где строгие правила сочетаются с простором для фантазии. Шахматы учат анализировать, сравнивать, устанавливать закономерности и использовать их при выполнении заданий. Решение шахматных задач позволяет развить память, воображение, стратегическое мышление, а также ответственность. Программа обучения с освоением учебного материала идёт от простого к сложному, дает углубленные знания во всех областях шахматной теории. Каждая сыгранная партия тщательно разбирается как детьми, так и педагогом.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <hr class="hr-washed">
</div>

<br><br><br><br>
{% include 'footer.html' %}
</body>