<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <title>Курсы</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<script src="/static/js/redirects.js"></script>

<header class="header2"  style="margin-top: -20px;">
    <h1 class="headh1 h1" style="font-size: 5rem;">
        Наши курсы
    </h1>
</header>

<br><br><br><br>
<div class="test">
    <p style="text-align: center; margin-top: 20px; font-size:50px; border-radius: 50px;">Основных направлений по курсам:</p>
</div>

<div style="position: relative; text-align: center;">
  <div class="first hero">
    <button onclick="redirect('/vr')"><img class="hero-profile-img" src="/static/images/BG/BgVR.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/VRAR-квантум.png">
    </div>
    <div class="hero-description">
      <p>VR</p>
    </div>
    <div  class="hero-date">
      <div class="eight">
        <a href="vr">Подробно</a>
      </div>
    </div>
  </div>
  
  <div class="second hero">
    <button onclick="redirect('/it')"><img class="hero-profile-img" src="/static/images/BG/BgIT.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/IT.png">
    </div>
    <div class="hero-description">
      <p>IT</p>
    </div>
    <div class="hero-date">
      <div class="eight">
        <a href="it">Подробно</a>
      </div>
    </div>
  </div>
  <div class="first hero">
    <button onclick="redirect('/High_tech')"><img class="hero-profile-img" src="/static/images/BG/BgHajtek.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/High tech.png">
    </div>
    <div class="hero-description">
      <p>Хайтек</p>
    </div>
    <div class="hero-date">
      <div class="eight">
        <a href="High_tech">Подробно</a>
      </div>
    </div>
  </div>

  <div class="first hero">
    <button onclick="redirect('/promrobo')"><img class="hero-profile-img" src="/static/images/BG/Promrobo.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/Promrobo.png">
    </div>
    <div class="hero-description">
      <p>Робототехника</p>
    </div>
    <div class="hero-date">
      <div class="eight">
        <a href="/promrobo">Подробно</a>
      </div>
    </div>
  </div>
</div>

<br><br><br><br>
<div class="test">
  <p style="text-align: center; margin-top: 20px; font-size:50px;">Дополнительные направления по курсам:</p>
</div>

<div style="position: relative; text-align: center;">
  <div class="first hero">
    <button onclick="redirect('/mathematics')"><img class="hero-profile-img" src="/static/images/BG/BgMathematic.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/Mathematics.jpg">
    </div>
    <div class="hero-description">
      <p>Математика</p>
    </div>
    <div  class="hero-date">
      <div class="eight">
        <a href="mathematics">Подробно</a>
      </div>
    </div>
  </div>
  
  <div class="second hero">
    <button onclick="redirect('/technical_english')"><img class="hero-profile-img" src="/static/images/BG/BgMathematic.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/English.jpg" alt="">
    </div>
    <div class="hero-description">
      <p>Технический английский язык</p>
    </div>
    <div class="hero-date">
      <div class="eight">
        <a href="technical_english">Подробно</a>
      </div>
    </div>
  </div>

  <div class="first hero">
    <button onclick="redirect('/chess')"><img class="hero-profile-img" src="/static/images/BG/BgChess.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/Chess.jpg">
    </div>
    <div class="hero-description">
      <p>Шахматы</p>
    </div>
    <div  class="hero-date">
      <div class="eight">
        <a href="chess">Подробно</a>
      </div>
    </div>
  </div>

  <div class="second hero">
    <button onclick="redirect('/ai')"><img class="hero-profile-img" src="/static/images/BG/BgMathematic.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/English.jpg" alt="">
    </div>
    <div class="hero-description">
      <p>ИИ</p>
    </div>
    <div class="hero-date">
      <div class="eight">
        <a href="/ai">Подробно</a>
      </div>
    </div>
  </div>
</div>

<br><br>
    <div class="wrapper" style="height: 170px;">
        <div class="content-splitter">
        <div class="left">
            <div class="block">
            <div class="content" style="top: 45px; position: relative;">  Курсы от 10 до 18 лет идет отельное обучение.
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>