<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main-product.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <title>Создать новость</title>
    </head>
</html>
<body>
  <div class="header">
    <a class="logo">Кванториум-Новоуральск<img src="/static/icons/Logo.png" style="height: 20px; width: 20px;"></a>
    <div class="header-right">
      <a href="/">Главная</a>
      <a href="/products">Новости</a>
      <a class="active" href="/Create-product">Создать новый пост</a>
      <a href="game">Игра об Кванториуме</a>
      <a href="@">Направления и программы</a>
      <a href="@">Мероприятия</a>
      <a href="/courses">Курсы</a>
      <div class="ProfilePanel">
        <a href="profile"><img src="/static/Profile-Card/Stepa.jpg">Профиль</a>
    </div>
    </div>
  </div>

    <br>
    <h1 style="text-align: center; color: darkmagenta; font-family: Impact, Haettenschweiler">Выложить пост</h1>


    <div class="card" style="max-width: 1300px; max-height: 1300px; margin-left: auto; margin-right: auto; border-radius: 4rem;">
        <div class="infos" style="text-align: center;">
                <form method="post">
                  <input type="text" name="title" id="title" value="Имя поста" style="font-family: 'Comfortaa', cursive; height: 30px; width: 250px;"><br>
                  <textarea name="intro" id="intro" cols="30" rows="10" style="font-family: 'Comfortaa', cursive;">Краткое описание поста</textarea><br>
                  <textarea name="text" id="text" cols="30" rows="10" style="font-family: 'Comfortaa', cursive;">Полное описание поста</textarea><br>
                  <input type="file" name="file">
                  <input class="view, button-28" type="submit" value="отправить" style="border-radius: 4rem; width: 500px;">
                </form>
        </div>
     </div>

<footer class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
    <a class="link-1" href="/">Главная</a>
    <a href="/game">Игра о Кванториум</a>
    <a href="/About">О нас</a>
    <a href="/sponsor">Спонсоры</a>
    <a href="/create_feedback">Обратная связь</a>
    </p>
  <div class="footer-center">
  <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Обл: Свердловская</span>Город: Новоуральск</p>
  </div>
  <div>
    <i class="fa fa-phone"></i>
    <p>+7.902.456.76.99</p>
  </div>
  <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:Qvant323@yandex.ru">Qvant323@yandex.ru</a></p>
  </div>
  </div>
    <p style="margin-left: 820px;">Mikhaelovsk &copy; 2023</p>
  </div>
</footer>
</body>