<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main-product.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/profile Card.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Cosmo_ico.png')}}">
      <title>Notes</title>
    </head>
</html>
<body>
  <div class="header">
    <a class="logo">Космонавтики<img src="/static/icons/rocket.png" style="height: 20px; width: 20px;"></a>
    <div class="header-right">
      <a href="/">Главная</a>
      <a class="active" href="/Create-product">Создать новость</a>
      <a href="/Create-ticets">Создать билеты</a>
      <a href="/products">Все новости о космосе</a>
      <a href="/video">Видео из космоса</a>
      <a href="/tickets">Купить билеты</a>
      <a href="/login">Войти</a>
    </div>
  </div>

    <br>
    <h1 style="text-align: center; color: white;">Выложить пост</h1>


     <div class="card" style="max-width: 1300px; max-height: 1300px;">
        <div class="infos">
                <form method="post">
                  <input type="text" name="title" id="title"><br>
                  <textarea name="intro" id="intro" cols="30" rows="10"></textarea><br>
                  <textarea name="text" id="text" cols="30" rows="10"></textarea><br>
                  <input class="view, button-28" type="submit" class="menu"  value="отправить">
                </form>
        </div>
     </div>

  </nav>

      <footer class="footer-distributed">

        <div class="footer-right">
          <br>
          <a href="https://www.youtube.com/channel/UCgMNXe8ooAQdunLHOkztAew"><i class="fa fa-youtube"></i></a>
          <a href="https://t.me/+44uvzl2TzSo5NGEy"><i class="fa fa-telegram"></i></a>
          <a href="https://vk.com/id597169928"><i class="fa fa-vk"></i></a>
          <a href="https://github.com/MishaelBoss"><i class="fa fa-github"></i></a>
        </div>
  
        <div class="footer-left">
  
          <p class="footer-links">
            <a class="link-1" href="/">Главная</a>
  
            <a href="https://www.youtube.com/channel/UCgMNXe8ooAQdunLHOkztAew">Моц блог</a>
  
            <a href="/About">Обо мне</a>
          </p>
  
          <div class="footer-center">
  
            <div>
              <i class="fa fa-map-marker"></i>
              <p><span>Обл: Свердловская</span>Город: Новоуральск</p>
            </div>
    
            <div>
              <i class="fa fa-phone"></i>
              <p>+7.902.446.4388</p>
            </div>
    
            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:support@company.com">michaelvoov@yandex.ru</a></p>
            </div>
    
          </div>
  
          <p style="margin-left: 820px;">Mikhaelovsk &copy; 2023</p>
        </div>
      </footer>
</body>