<!DOCTYPE html>
<html>
    <head>
        {% include 'url.html' %}
      <title>Комментарии</title>
    </head>
</html>
<body>
{% include 'header.html' %}

<br>
<h1 style="text-align: center; color: darkmagenta; font-family: Impact, Haettenschweiler">Выложить Комментарий</h1>


<div class="card" style="max-width: 1300px; max-height: 1300px; margin-left: auto; margin-right: auto; border-radius: 4rem;">
   <div class="infos" style="text-align: center;">
       <form method="post" enctype="multipart/form-data">
           <input type="text" name="title" id="title" style="font-family: 'Comfortaa', cursive; height: 30px; width: 250px;" placeholder="Заголовок комментария"><br><br>
           <textarea name="text" id="text" cols="30" rows="10" style="font-family: 'Comfortaa', cursive;" placeholder="Полное описание комментария"></textarea><br><br>
           <input type="file" name="file">
           <input class="view, button-28" type="submit" value="отправить" style="border-radius: 4rem; width: 500px;">
       </form>
   </div>
</div>

<br><br><br><br>
{% include 'footer.html' %}
</body>