<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main-product.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <title>Мероприятия</title>
    </head>
</html>
<body>
{% include 'header.html' %}

<script src="/static/js/redirects.js"></script>
<header class="header2"  style="margin-top: -20px; background-image: url('/static/images/BG/eventBG.jpg');">
    <h1 class="headh1 h1" style="font-size: 5rem;">
        Анонсы мероприятий
    </h1>
</header>

<div style="position: relative; text-align: center;">
{% if event|length > 0 %}
  {% for el in event%}
  <div class="first hero">
    <button onclick="redirect('/event_detail/{{ el.id }}')"><img class="hero-profile-img" src="/static/images/BG/BgVR.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/VRAR-квантум.png">
    </div>
    <div class="hero-description">
      <h2 style="font-family: 'Comfortaa', cursive;"> {{ el.title }} </h2>
      <p style="font-family: 'Comfortaa', cursive;"> {{ el.intro }} </p>
    </div>
    <div  class="hero-date">
      <p style="font-family: 'Comfortaa', cursive;"><b>Дата: {{ el.date_event.date() }} </b></p>
      <div class="eight">
        <a href="/event_detail/{{ el.id }}">Подробно</a>
      </div>
    </div>
  </div>
{% endfor %}
{% else %}
<br><br><br>
<div class="test" style="display: grid;">
  <p style="text-align: center; margin-top: 20px; font-size:50px;">Пока что нет мероприятий</p>
</div>
{% endif %}
</div>

{% include 'footer.html' %}
</body>