<footer class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
    <a class="link-1" href="/">Главная</a>
    <a href="/game">Игра об Кванториум</a>
    <a href="/About">О нас</a>
    <a href="/sponsor">Спонсоры</a>
    <a href="/create_feedback">Обратная связь</a>
    </p>
  <div class="footer-center">
  <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Обл: Свердловская</span>Город: Новоуральск</p>
  </div>
  <div>
    <i class="fa fa-phone"></i>
    <p>+7.902.456.76.99</p>
  </div>
  <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:Qvant323@yandex.ru">Qvant323@yandex.ru</a></p>
  </div>
  </div>
    <p style="margin-left: 820px;">Mikhaelovsk &copy; 2023</p>
  </div>
</footer>