<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <title>Home</title>
    </head>
</html>
<body>

  <div class="header">
    <a class="logo">Кванториум-Новоуральск<img src="/static/icons/Logo.png" style="height: 20px; width: 20px;"></a>
    <div class="header-right">
      <a class="active" href="/">Главная</a>
      <a href="/products">Новости</a>
      <a href="game">Игра об Кванториуме</a>
      <a href="@">Направления и программы</a>
      <a href="@">Мероприятия</a>
      <a href="@">Курсы</a>
      <a href="/login">Войти на сайт</a>
    </div>
  </div>

<br>

<header class="header2"  style="margin-top: -20px;">
  <h1 class="headh1 h1" style="font-size: 5rem;">
    Детский
    технопарк
    ”Кванториум-Новоуральск”
  </h1>
  <h1 class="headh1 h1" style="font-size: 2rem;">
    это территория творчества, изобретательства и сотрудничества!
  </h1>
</header>

<img src="/static/icons/Logo.png" style="margin: 10px auto 20px; display: block;">

<p style="font-size: 3rem; color: black; text-align: center;">Детский технопарк «Кванториум-Новоуральск» — это уникальный центр дополнительного образования.
  Который помогает получать новые знания сверх школьной программы. Что бы в школьном возрасте учащиеся могли работать над своими собственными проектами.
</p>

<br><br><br><br>
<div class="test">
  <p style="text-align: center; margin-top: 20px; font-size:50px;">4 основных направлений:</p>
</div>

<br><br><br><br>
<div class="test">
  <img src="/static/icons/VRAR-квантум.png" style="height: 75px; width: 75px;">
  <a style="color: #808080; margin-top: 20px; font-size:70px;" href="vr">VR</a>
</div></p>
</div>

<br><br><br><br>
<div class="test">
  <a style="color: #808080; margin-top: 20px; font-size:70px;" href="it">IT<img src="/static/icons/IT.png" style="height: 75px; width: 75px;"></a>
</div>

<br><br><br><br>
<div class="test">
  <img src="/static/icons/High tech.png" style="height: 75px; width: 75px;">
  <a style="color: #808080; margin-top: 20px; font-size:70px;" href="High_tech">Хайтек</a>
</div>

<br><br><br><br>
<div class="test">
  <img src="/static/icons/Promrobo.png" style="height: 75px;">
  <a style="color: #808080; margin-top: 20px; font-size:70px;" href="promrobo">Роботехника</a>
</div>

<br><br><br><br>
<div class="test">
  <p style="text-align: center; margin-top: 20px; font-size:50px;">3 дополнительных направлений:</p>
</div>

<br><br><br><br>
<div class="test">
  <img src="/static/icons/Chess.jpg" style="height: 75px; width: 75px;">
  <a style="color: #808080; margin-top: 20px; font-size:70px;" href="chess">Шахматы</a>
</div>


<br><br><br><br>
<div class="test">
  <a style="color: #808080; margin-top: 20px; font-size:70px;" href="mathematics">Математика<img src="/static/icons/Mathematics.jpg" style="height: 75px; width: 75px;"></a>
</div>

<br><br><br><br>
<div class="test">
  <img src="/static/icons/Mathematics.jpg" style="height: 75px; width: 75px;">
  <a style="color: #808080; margin-top: 20px; font-size:70px;" href="technical_english">Технический английский язык</a>
</div>

<br><br>
<div class="first_page">
  <div class="wrapper">
    <div class="content-splitter">
      <div class="left">
        <div class="block">
          <div class="content" style="top: 45px; position: relative;">  Занятия в детском технопарке «Кванториум-Новоуральск» бесплатны для обучающихся 10-18 лет.
            Доступно не только жителям городов, в которых расположены технопарки, но и учащимся из сельской местности, детям из детских домов и др.
            Отличительной особенностью является обучение детей с применением новых образовательных технологий.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>  

<br><br><br><br>
<div class="test">
  <p style="text-align: center; margin-top: 20px; font-size:50px;">Спонсоры: (аху№№№)</p>
</div>
<br>
<div class="Abautcard" style="margin-top: 40px;">
  <div class="AbautInfos">
      <div class="name">
          <br>
          <span>
            <img style="
            border-style: dotted; 
            border-color: aqua; border-radius: 10px; 
            background-color: aliceblue; 
            box-shadow: 5px 5px 20px 2px; 
            width: fit-content;
            height: 400px;
            text-align: center;
            margin: 0 0 0 420px;" src="{{ url_for('static', filename='icons/Sponsor logo/mprf.png') }}"/>
          </span>
      </div>
      <div class="name">
        <br>
        <span>
          <img style="
          border-style: dotted; 
          border-color: aqua; border-radius: 10px; 
          background-color: aliceblue; 
          box-shadow: 5px 5px 20px 2px; 
          width: fit-content;
          height: 400px;
          text-align: center;
          margin: 0 0 0 420px;" src="{{ url_for('static', filename='icons/Sponsor logo/Accessible environment.jpg') }}"/>
        </span>
    </div>
  </div>
</div>
<footer class="footer-distributed">
  <div class="footer-right">
      <br>
        <a href="https://www.youtube.com/channel/UCgMNXe8ooAQdunLHOkztAew"><i class="fa fa-youtube"></i></a>
        <a href="https://t.me/+44uvzl2TzSo5NGEy"><i class="fa fa-telegram"></i></a>
        <a href="https://vk.com/id597169928"><i class="fa fa-vk"></i></a>
        <a href="https://github.com/MishaelBoss"><i class="fa fa-github"></i></a>
  </div>
      <div class="footer-left">

        <p class="footer-links">
          <a class="link-1" href="/">Главная</a>

          <a href="№">Игра об Кванториум</a>

          <a href="/About">Обо мне</a>
        </p>
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Обл: Свердловская</span>Город: Новоуральск</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p>+7.902.456.76.99</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:Qvant323@yandex.ru">Qvant323@yandex.ru</a></p>
          </div>
        </div>
        <p style="margin-left: 820px;">Mikhaelovsk &copy; 2023</p>
      </div>
    </footer>
</body>