<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <title>IT</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<br>
<header class="header2"  style="margin-top: -17px; min-height: 150px;">
  <h1 class="headh1 h1" style="font-size: 5rem;">О IT</h1>
</header>

<br><br>
<div class="test">
  <p style="text-align: center; color: #808080; margin-top: 20px; font-size:70px;">О IT</p>
</div>

<br><br>
<div class="News-card" style="width: 70%; height: 620px; padding: 0 0 0 0;">
  <br><br>
  <hr class="hr-washed">
  <div class="BlockCard">
    <br><br>
    <div class="cards">
      <div class="card" style="width: 1200px; height: 1200px;">
        <h2 class="card-title">Шубин Валерий Александрович</h2>
        <img src="/static/images/Shubin_Valery_Alexandrovich.jpg">
          <p class="card-desc">Образование – высшее: 
            Колледж НТИ НИЯУ МИФИ (2016 г.), специальность «Программирование в компьютерных системах»; 
            Новоуральский технологический институт НИЯУ МИФИ, направление «Информатика и вычислительная техника» (2021 г.).
            Имеет большой опыт работы с различными языками программирования; создания компьютерных и разработки нейронных сетей; создания, внедрения и сопровождения программного обеспечения на предприятиях на языках программирования C# и SQL. Полуфиналист Международного инженерного чемпионата "CASE-IN" (2020 г.)
            повышение квалификации по дополнительным профессиональным программам «Формирование гибких компетенций у обучающихся: вводный уровень», ФГБОУ ДО ФЦДО (2022г).
          </p>
      </div>
    </div>

    <div class="first_page">
      <div class="wrapper"style="height: 400px; bottom: -50px; position: relative;">
        <div class="content-splitter">
          <div class="left">
            <div class="block">
              <div class="headerbox">О IT</div>
              <div class="content">
                IT-квантум направлен на приобретение обучающимися фундаментальных знаний в сфере информационных технологий, а также освоение перспективных направлений: интернет вещей (IoT), машинное обучение (ML), блокчейн, информационная безопасность и др. посредством работы в команде с использованием кейс-технологий.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <hr class="hr-washed">
</div>

<br><br><br><br>
{% include 'footer.html' %}
</body>