<!DOCTYPE html> 
<html lang="ru">
  <head>
    {% include 'url.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registr.css')}}">
    <title>Войти</title>
  </head>
</html>
<body>
{% include 'header.html' %}
<script src="/static/js/password.js"></script>

<br>
{% for cat, msg in get_flashed_messages(True) %}
  <di class="flash {{cat}}">{{ msg }}</di>
{% endfor %}

<form method="post">
    <h3>Login</h3>

    <label for="username">Введите логин</label>
    <input type="text" name="login" placeholder="Логин" id="login">

    <label for="password">Пароль</label>
    <input autocomplete="on" type="password" name="password" placeholder="Password" id="password">
    <div style="display: flex; align-items: center;">
      <input style="width: 1rem; margin: auto;" type="checkbox" onclick="checking()"><p style="margin-right: 180px;">Show Password</p>
    </div>  

    <button>Войти</button>
    <div class="reg">
      <a href="/register">Зарегистрироваться</a>
    </div>
</form>

</body>