<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <title>Моя игра</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<header class="header2"  style="margin-top: -17px; min-height: 150px;">
  <h1 class="headh1 h1" style="font-size: 5rem;">О моей игры</h1>
</header>

<br><br>
<div class="News-card" style="width: 70%; height: 620px; padding: 0 0 0 0;">
  <br><br>
  <hr class="hr-washed">
  <div class="BlockCard">
    <br><br>
    <div class="cards">
      <div class="card" style="width: 1200px; height: 1200px;">
        <h2 class="card-title">Основатель игры, и этого сайта UWU</h2>
        <img src="/static/Profile-Card/Michael/2.jpg">
          <p class="card-desc">Всем привет, меня зовут Михаил Яковлев . Мне 14 "8" класс. Люблю новые знакомства и много эмоций. Игры – моё всё. Про геймдев я много чего знаю, постоянно слежу за событиями, имею опыт с игровыми engine(движки) на unity, unreal engine.
          </p>
      </div>
    </div>

    <div class="first_page">
      <div class="wrapper"style="height: 400px; bottom: -50px; position: relative;">
        <div class="content-splitter">
          <div class="left">
            <div class="block">
              <div class="headerbox">О игре</div>
              <div class="content">
                Моя игра 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <hr class="hr-washed">
</div>

<br><br><br><br>
{% include 'footer.html' %}
</body>