<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main-product.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <title>Game</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<header class="header2"  style="background-image: url(/static/images/BG/BgGame.jpg);"></header>

<div style="position: relative; text-align: center;">
  <div class="first hero">
    <img class="hero-profile-img" src="/static/images/img my game/3.jpg" alt="">
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/Logo.png" alt="">
    </div>
    <div class="hero-description">
      <p>Информация о направление.</p>
    </div>
    <div  class="hero-date">
      <p>20.02.2023</p>
      <div class="eight">
        <a href="/moregame">Подробно</a>
      </div>
    </div>
  </div>
  
  <div class="second hero">
    <img class="hero-profile-img" src="/static/images/img my game/2.jpg" alt="">
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/Logo.png" alt="">
    </div>
    <div class="hero-description">
      <p>Не забывай выполнять задание.</p>
    </div>
    <div  class="hero-date">
      <p>20.02.2023</p>
      <div class="eight">
        <a href="/moregame">Подробно</a>
      </div>
    </div>
  </div>
  <div class="first hero">
    <img class="hero-profile-img" src="/static/images/img my game/4.jpg" alt="">
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/Logo.png" alt="">
    </div>
    <div class="hero-description">
      <p>Всегда есть подсказки. </p>
    </div>
    <div  class="hero-date">
      <p>20.02.2023</p>
      <div class="eight">
        <a href="/moregame">Подробно</a>
      </div>
    </div>
  </div>
  
  <div class="second hero">
    <img class="hero-profile-img" src="/static/images/img my game/5.jpg" alt="">
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/Logo.png" alt="">
    </div>
    <div class="hero-description">
      <p>Не забывай отдыхать.</p>
    </div>
    <div  class="hero-date">
      <p>20.02.2023</p>
      <div class="eight">
        <a href="/moregame">Подробно</a>
      </div>
    </div>
  </div>
  <div class="first hero">
    <img class="hero-profile-img" src="/static/images/img my game/6.jpg" alt="">
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/Logo.png" alt="">
    </div>
    <div class="hero-description">
      <p>Молодец ты справился.</p>
    </div>
    <div  class="hero-date">
      <p>20.02.2023</p>
      <div class="eight">
        <a href="/moregame">Подробно</a>
      </div>
    </div>
  </div>
  
  <div class="second hero">
    <img class="hero-profile-img" src="/static/images/img my game/7.jpg" alt="">
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="/static/icons/Logo.png" alt="">
    </div>
    <div class="hero-description">
      <p>Твоя статистика.</p>
    </div>
    <div  class="hero-date">
      <p>20.02.2023</p>
      <div class="eight">
        <a href="/moregame">Подробно</a>
      </div>
    </div>
  </div>
</div>

<br><br><br><br>
<div class="test">
  <p style="text-align: center; margin-top: 20px; font-size:50px;">Ссылка на скачивание</p>
</div>

<br><br><br><br>
<div class="test">
  <div style="display: flex; justify-content: center;">
    <a class="view, button-28" href="https://drive.google.com/drive/folders/1u7Yv7gbpGpKaJSKcgmUSTj9Ikn0KMiPu?usp=drive_link" style="
    border-radius: 4rem; 
    width: 150px; 
    height: 20px; 
    min-height: 50px;
    display: grid;
    align-content: center;">Скачать с google</a>
    <a class="view, button-28" href="https://github.com/MishaelBoss/The_World_of_Quantrianism_for_Android" style="
    border-radius: 4rem; 
    width: 150px; 
    height: 20px; 
    min-height: 50px;
    display: grid;
    margin-left: 10px;
    align-content: center;">Скачать с github</a>
</div>
</div>

{% include 'footer.html' %}
</body>