<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <title>Новости</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<script src="/static/js/redirects.js"></script>
<br><br><br><br>
<h1 style="text-align: center; color: blueviolet; font-family: Impact, Haettenschweiler">Новости от админа</h1>

<div style="position: relative; text-align: center;">
{% if articles|length > 0 %}
  {% for el in articles%}
  <div class="first hero">
    <button onclick="redirect('/products/{{ el.id }}')"><img class="hero-profile-img" src="{{ el.path }}"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-description">
      <h2 style="font-family: 'Comfortaa', cursive;"> {{ el.title }} </h2>
      <p style="font-family: 'Comfortaa', cursive;"> {{ el.intro }} </p>
    </div>
    <div  class="hero-date">
      <p style="font-family: 'Comfortaa', cursive;"><b>Дата: {{ el.date.date() }} </b></p>
      <div class="eight">
        <a href="/products/{{ el.id }}">Подробно</a>
      </div>
    </div>
  </div>
{% endfor %}
{% else %}
<p>У нас еще нет статей на сайте.</p>
{% endif %}
</div>

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
{% include 'footer.html' %}
</body>