<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/registr.css')}}">
      <title>Изменить профиль</title>
    </head>
</html>
<body>
{% include 'header.html' %}

<form style="position: absolute; height: 880px; margin-top: 100px;" action="" method="post" method="POST" action="/register" enctype="multipart/form-data" action="/pathUser">
  <h1>Изменить профиль</h1>
  <br>
  {% for cat, msg in get_flashed_messages(True) %}
    <di class="flash {{cat}}">{{ msg }}</di>
  {% endfor %}
  <div class="inputUserImage">
    <div style="background-color: transparent; width: 100px; height: 100px; overflow: hidden; display: inline-flex; border-radius: 25px;">
      <img id="result">
    </div>
    <input class="inputUserImage" type="file" id="uploadImage" name="files[]" title="изменить фото для профиля">
  </div>

  <label for="login">Логин<img src="/static/icons/user.png" class="icon-login"></label>
  <input type="text" placeholder="{{user.login}}" name="login" id="login" title="Логин" value="{{ user.login }}">
  
  <hr class="hr-washed">
  <label for="name">Имя<img src="/static/icons/user.png" class="icon-login"></label>
  <input type="text" placeholder="{{user.name}}" name="name" id="name" title="Имя" value="{{ user.name }}">

  <label for="username">Фамилия<img src="/static/icons/user.png" class="icon-login"></label>
  <input type="text" placeholder="{{user.surname}}" name="surname" id="surname" title="Фамилия" value="{{ user.surname }}">

  <hr class="hr-washed">
  <label for="email">email<img src="/static/icons/mail.png" class="icon-login"></label>
  <input type="email" placeholder="Ваш Email" name="email" id="email" title="Мыло" value="{{ user.email }}">

  <br>
  <button type="submit" class="view, button-28" title="Войти">Сохранить изменение аккаунта</button><br><br>
</form>

<script src="/static/js/Preview picture.js"></script>
</body>