<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main-product.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <title>Изменить профиль</title>
    </head>
</html>
<body>
<div class="header">
    <a class="logo">Кванториум-Новоуральск<img src="/static/icons/Logo.png" style="height: 20px; width: 20px;"></a>
    <div class="header-right">
      <a href="/">Главная</a>
      <a href="/products">Новости</a>
      <a href="game">Игра об Кванториуме</a>
      <a href="/direction_and_programs">Направления и программы</a>
      <a href="/event">Мероприятия</a>
      <a href="/courses">Курсы</a>
      <a href="/login">Войти на сайт</a>
        <a href="/login">Войти на сайт</a>
        <div class="ProfilePanel">
            <a class="active" href=""><img src="/static/Profile-Card/Stepa.jpg">Профиль</a>
        </div>
    </div>
</div>

<div class="News-card">
  <h1>Изменить профиль</h1>
  <div class="News-card-logo">
    <img src="{{ url_for('static', filename='Profile-Card/Stepa.jpg') }}" style="border-radius: 50%;" alt="logo">
  </div>
  <div class="News-card-header">
      <form method="post">
        <label style="font-family: 'Comfortaa', cursive;" for="login">Логин</label>
        <img src="/static/icons/user.png" class="icon-login"><input type="text" placeholder="{{user.login}}" class="input" name="login" id="login" title="Логин" value="{{ user.login }}">
        
        <hr class="hr-washed">
    
        <label for="name" style="font-family: 'Comfortaa', cursive;">Имя</label>
        <img src="/static/icons/user.png" class="icon-login"><input type="text" placeholder="{{user.name}}" class="input" name="name" id="name" title="Имя" value="{{ user.name }}">
    
        <label style="font-family: 'Comfortaa', cursive;" for="username">Фамилия</label>
        <img src="/static/icons/user.png" class="icon-login"><input type="text" placeholder="{{user.surname}}" class="input" name="surname" id="surname" title="Фамилия" value="{{ user.surname }}">
    
        <hr class="hr-washed">
    
        <label style="font-family: 'Comfortaa', cursive;" for="email">email</label>
        <img src="/static/icons/mail.png" class="icon-login"><input type="email" placeholder="Ваш Email" class="input" name="email" id="email" title="Мыло" value="{{ user.email }}">

        <label style="font-family: 'Comfortaa', cursive;" for="password">Пароль</label>
        <img src="/static/icons/padlock.png" class="icon-login"><input type="password" placeholder="Ваш Пароль" class="input" id="password" name="password" title="Пароль">
        <label class="lbl"><input type="checkbox" class="check">Показать пароль</label><br><br>
        <button type="submit" class="view, button-28" title="Войти">Сохранить изменение аккаунта</button><br><br>
    </form>
  </div>
</div>
</body>