<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main-product.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <title>Профиль</title>
    </head>
</html>
<body>
{% include 'header.html' %}

<div class="News-card">
  <div class="News-card-logo">
    <img src="{{user.pathUser}}" style="border-radius: 50%; height: 100px; width: 100px; border: solid rgb(0, 255, 0);" alt="logo">
  </div>
  <div class="News-card-header">
    <h1 style="font-family: 'Comfortaa', cursive;">Login: {{user.login}}</h1>
    <hr class="hr-washed">
      <h1 style="font-family: 'Comfortaa', cursive;">Имя: {{user.name}}</h1>
      <h2 style="font-family: 'Comfortaa', cursive;">Фамилия: {{user.surname}}</h2>
      <hr class="hr-washed">
      <p style="font-family: 'Comfortaa', cursive;"><b>email: {{user.email}}</p>
      <hr class="hr-washed">
      <p style="font-family: 'Comfortaa', cursive;"><b>Дата создание аккаунта:  {{ user.date }}</b></p>
      <p style="font-family: 'Comfortaa', cursive;"><b>Последнее посещение:  {{ user.last_seen }}</b></p>
  </div>
  <div class="Btn_detail">
    <a class="view, button-28" href="/profile_edit" style="
    position: relative;
    border-radius: 4rem; 
    width: 150px; 
    height: 20px; 
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;">Изменить аккаунт</a>

    <a class="view, button-28" href="/logout" style="
    position: relative;
    border-radius: 4rem; 
    width: 150px; 
    height: 20px; 
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;">Logout</a>
  </div>
</div>

<br><br><br><br>
{% include 'footer.html' %}
</body>