<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <title>Профиль</title>
    </head>
</html>
<body>
{% include 'header.html' %}

<div class="News-card" style="font-family: 'Comfortaa', sans-serif;">
  <div style="display: flex; justify-content: center;">
    <div style="background-color: transparent; width: 100px; height: 100px; overflow: hidden; border-radius: 25px; display: flex; justify-content: center;">
      <img src="{{user.pathUser}}" alt="logo">
    </div>
  </div>

  <br>
  <div class="News-card-header">
    <h1>Login: {{user.login}}</h1>
    <hr class="hr-washed">
      <h1>Имя: {{user.name}}</h1>
      <h2>Фамилия: {{user.surname}}</h2>
      <hr class="hr-washed">
      <p><b>email: {{user.email}}</p>
      <hr class="hr-washed">
      <p><b>Дата создание аккаунта:  {{ user.date }}</b></p>
      <p><b>Последнее посещение:  {{ user.last_seen }}</b></p>
  </div>
  <div class="Btn_detail">
    <a class="view, button-28" href="/profile_edit" style="
    position: relative;
    border-radius: 4rem; 
    width: 150px; 
    height: 20px; 
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;">Изменить аккаунт</a>

    <a class="view, button-28" href="/logout" style="
    position: relative;
    border-radius: 4rem; 
    width: 150px; 
    height: 20px; 
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;">Logout</a>
  </div>
</div>

<br><br><br><br>
{% include 'footer.html' %}
</body>