<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <title>Promrobo</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<header class="header2"  style="margin-top: -17px; min-height: 150px;">
  <h1 class="headh1 h1" style="font-size: 5rem;">О роботехнике</h1>
</header>

<br><br>
<div class="test">
  <p style="text-align: center; color: #808080; margin-top: 20px; font-size:70px;">О роботехнике</p>
</div>

<br><br>
<div class="News-card" style="width: 70%; height: 620px; padding: 0 0 0 0;">
  <br><br>
  <hr class="hr-washed">
  <div class="BlockCard">
    <br><br>
    <div class="cards">
      <div class="card" style="width: 1200px; height: 1200px;">
        <h2 class="card-title">Степанов Павел Иванович</h2>
        <img src="/static/images/Stepanov Pavel Ivanovich.jpg">
          <p class="card-desc">Образование – высшее:
            Новоуральский технологический институт НИЯУ МИФИ (2010 г.), специальность "Мехатроника и робототехника";
            Кандидат технических наук (2020 г.), специальность «Приборы и методы контроля»;
            Автор более 30 научных работ;
            Опыт работы в области образования более 10 лет;
            Участник детских проектных смен (AtomSkills, Сириус, Россети) в качестве наставника и руководителя проектов;
            Участник чемпионатов WorldSkills по направлению «Мобильная робототехника» и «Инженерный дизайн CAD» в качестве эксперта;
            Победитель конкурсов инновационных проектов («ТЕМП», «Энергопрорыв», «Цифровой прорыв», Фонда содействия инновациям по программам «Умник» и «Старт»).
          </p>
      </div>
    </div>

    <div class="first_page">
      <div class="wrapper"style="height: 400px; bottom: -50px; position: relative;">
        <div class="content-splitter">
          <div class="left">
            <div class="block">
              <div class="headerbox">О роботехнике</div>
              <div class="content">
                Робототехника – популярная сегодня наука, которая ведет работу в области разработки автоматизированных технических систем. Если раньше роботы были просто фантастикой, сегодня они окружают нас везде. Роботы спасают людей, трудятся в экстремальных условиях, опасных для человека, лечат, воюют, исследуют космос и служат развлечением. Робототехника опирается на определенные дисциплины, среди которых электроника, информатика, радиотехника, математика, физика и делает их более интересными для изучения. Не скучные формулы и примитивные опыты, а практическое применение законов физики. Не заучивание теорем и аксиом, а реальные расчеты, результатом которых становится работающее изобретение. Ребенок не просто что-то учит, а видит результат, применив изученное.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <hr class="hr-washed">
</div>

<br><br><br><br>
{% include 'footer.html' %}
</body>