<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/registr.css')}}">
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <link href="../static/signup.css" rel="stylesheet">
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <title>Регистрация</title>
    </head>
</html>
<body>

  <div class="header">
    <a class="logo">Кванториум-Новоуральск<img src="/static/icons/Logo.png" style="height: 20px; width: 20px;"></a>
    <div class="header-right">
      <a href="/">Главная</a>
      <a href="/products">Новости</a>
      <a href="@">Игра об Кванториуме</a>
      <a href="@">Направления и программы</a>
      <a href="@">Мероприятия</a>
      <a href="@">Курсы</a>
      <a class="active" href="/login">Войти на сайт</a>
    </div>
  </div>

<form style="position: absolute; height: 550px;" action="" method="post" method="POST" action="/register">
    <h3>Регистрация</h3>

    <label for="username">Имя</label>
    <input type="text" name="name" placeholder="Имя" id="name">

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="email" id="email">

    <label for="password">Пароль</label>
    <input type="password" name="password" placeholder="Password" id="password">

    <button type="submit">Зарегистрироваться</button>
    <div class="reg">
      <a href="/login">Войти</a>
    </div>
</form>
</body>