<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <title>Sponsor</title>
    </head>
</html>
<body>
{% include 'header.html' %}

<br><br><br><br>
<div class="test">
    <p style="text-align: center; margin-top: 20px; font-size:50px;">Спонсоры:</p>
</div>
<br>


<span style="position: relative; margin-left: -150px;">
    <img class="ImgSponser" src="{{ url_for('static', filename='icons/Sponsor logo/mprf.png') }}"/>
</span>
<span>
    <img class="ImgSponser" src="{{ url_for('static', filename='icons/Sponsor logo/Accessible environment.jpg') }}"/>
</span>
<span>
    <img class="ImgSponser" src="{{ url_for('static', filename='icons/Sponsor logo/God400.jpg') }}"/>
</span>
<span>
    <img class="ImgSponser" src="{{ url_for('static', filename='icons/Sponsor logo/gos.png') }}"/>
</span>
<span>
    <img class="ImgSponser" src="{{ url_for('static', filename='icons/Sponsor logo/logo10age.jpg') }}"/>
</span>
<span>
    <img class="ImgSponser" src="{{ url_for('static', filename='icons/Sponsor logo/logoPFDO.png') }}"/>
</span>
<span>
    <img class="ImgSponser" src="{{ url_for('static', filename='icons/Sponsor logo/minoobrsv.png') }}"/>
</span>
<span>
    <img class="ImgSponser" src="{{ url_for('static', filename='icons/Sponsor logo/National projects of Russia.png') }}"/>
</span>
<span>
    <img class="ImgSponser"src="{{ url_for('static', filename='icons/Sponsor logo/nauch.jpg') }}"/>
</span>
<span>
    <img class="ImgSponser"src="{{ url_for('static', filename='icons/Sponsor logo/summer camp.png') }}"/>
</span>
<span>
    <img class="ImgSponser" src="{{ url_for('static', filename='icons/Sponsor logo/tobe2.png') }}"/>
</span>

{% include 'footer.html' %}
</body>