<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main-product.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/profile Card.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <title>Добавить фото</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<br>
<h1 style="text-align: center;">Добавить фото для поста</h1>
<br><br>

<div class="card" style="max-width: 1300px; max-height: 1300px; margin-left: auto; margin-right: auto; border-radius: 4rem;">
  <div class="infos" style="text-align: center;">
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/png, image/jpeg">
      <button>Добавить</button>
    </form>
  </div>
</div>

{% include 'footer.html' %}
</body>